@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lora&display=swap');

body {
    background: #F5A9B8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #333;
}

div.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
